body {
  font-size: .875rem;
  padding-bottom: 4rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 58px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

table tbody tr.can-row {
  background-color: #FF5B5B;
}

table tbody tr.us-row {
  background-color: #5B67FF;
}

table tbody tr.rush {
  background-color: #22AD00 !important;
}

.overdue {
  background-color: #FFB79A !important;
}

.due {
  background-color: #BBF8FC !important;
}

.in-stock {
  background-color: #90F393FF !important;
}

.summary-table {
  max-height: 500px;
  overflow-y: scroll;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.left-toggled {
  padding-left: 250px;
}

#wrapper.right-toggled {
  padding-right: 250px;
}

#wrapper.left-toggled #left-sidebar {
  width: 250px;
}

#wrapper.right-toggled #right-sidebar {
  width: 250px;
}

#wrapper.right-toggled #right-sidebar-toggler {
  right: 225px;
}

#right-sidebar {
  right: 250px;
  margin-right: -250px;
  background: #F8F9FA;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-slider {
  z-index: 1000;
  position: fixed;
  width: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

#left-menu-toggle {
  position: absolute;
  margin: 20px;
}

#right-sidebar-toggler {
  z-index: 2000;
  position: fixed;
  top: calc(50%);
  right: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}