body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

.selected {
	background-color: rgba(108, 183, 51, 0.52) !important;
}

.bottom-10 {
	margin-bottom: 10px;
}

.top-10 {
	margin-top: 10px;
}

.lg-box {
	width: 20px;
	height: 20px;
}

.checkbox-top-margin {
	margin-top: 20px !important;
}

.top-25 {
	margin-top: 25px;
}

.top-50 {
	margin-top: 50px;
}

.right-float {
	float: right;
}

.add-item-button {
	width: 100%;
	margin-top: 25px;
}

@media print {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
	}
	.col-sm-12 {
    width: 100%;
	}
	.col-sm-11 {
    width: 91.66666667%;
	}
	.col-sm-10 {
    width: 83.33333333%;
	}
	.col-sm-9 {
    width: 75%;
	}
	.col-sm-8 {
    width: 66.66666667%;
	}
	.col-sm-7 {
    width: 58.33333333%;
	}
	.col-sm-6 {
    width: 50%;
	}
	.col-sm-5 {
    width: 41.66666667%;
	}
	.col-sm-4 {
    width: 33.33333333%;
	}
	.col-sm-3 {
    width: 25%;
	}
	.col-sm-2 {
    width: 16.66666667%;
	}
	.col-sm-1 {
    width: 8.33333333%;
	}
	.hide-printer {
		display: none;
	}
	.panel-body {
		padding: 5px;
	}
	.panel-heading {
		padding: 5px;
	}
	.panel {
		margin-bottom: 0px;
	}
	h4 {
		margin: 0px;
	}
}