body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

.selected {
	background-color: rgba(108, 183, 51, 0.52) !important;
}

.bottom-10 {
	margin-bottom: 10px;
}

.top-10 {
	margin-top: 10px;
}

.lg-box {
	width: 20px;
	height: 20px;
}

.checkbox-top-margin {
	margin-top: 20px !important;
}

.top-25 {
	margin-top: 25px;
}

.right-float {
	float: right;
}

.add-item-button {
	width: 100%;
	margin-top: 25px;
}