doctype html
include mixins
html
	include includes/head
		title Custom Tools
	body
		+navbar("3dcart")
		.container
			.starter-template
				h1 3D Cart Tools
				p.lead Quick and Easy tools to help with the common things we do in 3D Cart.
		.container.panel.with-nav-tabs
			.panel-heading
				ul.nav.nav-tabs
					li.active
						a(data-toggle="tab" href="#products") Product Editor
					li
						a(data-toggle="tab" href="#categories") Category Editor

			.panel-body.tab-content
				.tab-pane.fade.in.active#products
					form#productForm.form-horizontal
						.form-group
							.col-lg-6
								label(for="category") Category
								input.form-control#category(type="number", name="category")
							.col-lg-6
								label(for="sku") SKU
								input.form-control#sku(type="text", name="sku")
						.form-group
							.col-lg-6
								label(for="manufacturer") Manufacturer
								input.form-control#manufacturer(type="number", name="manufacturer")
							.col-lg-3
								label(for="priceFrom") Price From
								.input-group
									span.input-group-addon $
									input.form-control#priceFrom(type="number")
							.col-lg-3
								label(for="priceTo") Price To
								.input-group
									span.input-group-addon $
									input.form-control#priceTo(type="number")
						.form-group.row.checkbox
							.col-lg-3
								label(for="onSaleCheckbox")
									.input-group
									input#onSaleCheckbox(type="checkbox", name="onsale")
									|  On Sale
							.col-lg-3
								label(for="canadianStore")
									input#canadianStore(type="checkbox", name="canadianStore")
									|  Canadian

					.btn-toolbar.bottom-10
						button.btn.btn-default#getProductsButton(type="button") Get Products
						button.btn.btn-success#getProductsButton(type="button", data-toggle="collapse", data-target="#bulk") Bulk Updates
					
					#bulk.collapse
						form#productEditForm.form-horizontal
							.form-group
								.col-lg-6
									label(for="addCategory") Add Category
									input.form-control#addCategory(type="number", name="addCategory")
								.col-lg-6
									label(for="removeCategory") Remove Category
									input.form-control#removeCategory(type="number", name="removeCategory")
							.form-group
								.col-lg-6
									label(for="increasePrice") Increase Price
									.input-group
										input.form-control#increasePrice(type="number", name="increasePrice")
										.input-group-addon %
								.col-lg-6
									label(for="wholesaleDiscount") Wholesale Discount
									.input-group
										input.form-control#wholesaleDiscount(type="number", name="wholesaleDiscount")
										.input-group-addon %
							.form-group
								.col-lg-6
									label(for="keywords") Add Keywords
									input.form-control#keywords(type="text")
						.btn-toolbar.bottom-10
							button.btn.btn-default#bulkSaveButton(type="button") Bulk Save
							.btn-group
								button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select #[span.caret]
								ul.dropdown-menu
									li 
										a(href="#")#selectAllButton All
									li
										a#selectNoneButton None
							button.btn.btn-default#saveAdvancedOptions(type="button") Fix Advanced Options
							button.btn.btn-default#sendToQB(type="button") Send to QB
							button.btn.btn-danger#updateAll(type="button") Update All Products
					.row
						.col-lg-12
							.progress
								#getProductsProgress.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
					table.table.table-striped.table-hover#productTable
						thead
							tr
								th.text-center
									input(type="checkbox").lg-box
								th SKU
								th Name
								th Manufacturer
								th Retail Price
								th Stock
						tbody#productTableBody

				.tab-pane.fade.in#categories
					.btn-toolbar
						button.btn.btn-success#getCategoriesButton(type="button") Get Categories
						button.btn.btn-default#saveCategoriesButton(type="button") Get Categories
				.tab-pane.fade.in#step3
					p todo
		include includes/end
			script(src="js/3dcart.js")