doctype html
include mixins
html
	include includes/head
		title Feeds
	body
		#wrapper
			+sidebarNav("amazon")

			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Feeds
						p.lead Generate upload files for Seller or Vendor Central on Amazon or create Facebook feeds.
				.container
					form#databaseForm
						.form-group.row
							.col-lg-3
								label(for="sku") SKU
								input.form-control#sku(type="text", name="sku")
							.col-lg-3
								label(for="manufacturer") Manufacturer
								input.form-control#manufacturer(type="text", name="manufacturer")
					.row.bottom-10
						button.btn.btn-default#defaultValButton(type="button", data-toggle="collapse", data-target="#defaultValues") Default Values
					#defaultValues.collapse
						.form-group.row
							.col-lg-3
								label(for="productLength") Length
								input.form-control#productLength(type="text")
							.col-lg-3
								label(for="productLength") Width
								input.form-control#productLength(type="text")
							.col-lg-3
								label(for="productLength") Depth
								input.form-control#productLength(type="text")

					.btn-toolbar.mb-3
						button.btn.btn-success#amazonVendorButton(type="button").mr-2 Generate Amazon Vendor
						button.btn.btn-success#amazonSellerButton(type="button").mr-2 Generate Amazon Seller
						button.btn.btn-primary#facebookButton(type="button").mr-2 Generate Facebook
					.btn-toolbar.row.mb-3
						h2 Amazon
						button.btn.btn-danger#amazonButton(type="button").mr-2 Send To Amazon
						button.btn.btn-danger#addAmazonImage(type="button").mr-2 Add Amazon Image
						button.btn.btn-danger#updateAmazonInventory(type="button").mr-2 Update Inventory
						button.btn.btn-danger#updateAllAmazonInventory(type="button").mr-2 Update All Inventory
						button.btn.btn-danger#updateAmazonPricing(type="button").mr-2 Update Pricing
					.btn-toolbar.row.mb-3
						h2 Walmart
						button.btn.btn-primary#createWalmartItem(type="button").mr-2 Create Item
						button.btn.btn-primary#createBulkWalmartItem(type="button").mr-2 Create Items (Bulk)
						button.btn.btn-primary#getWalmartInventory(type="button").mr-2 Get Inventory
						button.btn.btn-primary#getWalmartItem(type="button").mr-2 Get Item
						button.btn.btn-primary#updateWalmartItem(type="button").mr-2 Update Item
						button.btn.btn-primary#updateWalmartInventory(type="button").mr-2 Update Inventory
						button.btn.btn-primary#updateAllWalmartInventory(type="button").mr-2 Update All Inventory
					.form-group.row.mb-3
						label(for="feedId") Feed ID
						input.form-control#feedId(type="text")
						button.btn.btn-default#getWalmartFeed(type="button") Get Feed Status
		+footer
	include includes/end
		script(src="/js/feeds.js")