doctype html
include mixins
html
	include includes/head
		title Database
	body
		+navbar("database")
		.container
			.starter-template
				h1 Database
				p.lead This represents the state of our database which ends up getting synced with 3D Cart.
		.container
			form#databaseForm
				.form-group.row
					.col-lg-3
						label(for="sku") SKU
						input.form-control#sku(type="text", name="sku", list="items")
						datalist#items
					.col-lg-3
						label(for="manufacturer") Manufacturer
						input.form-control#manufacturer(type="text", name="manufacturer")
					.col-lg-2.checkbox.checkbox-top-margin
						label(for="updated")
							input#updated(type="checkbox", name="updated")
							| Updated
					.col-lg-2.checkbox.checkbox-top-margin
						label(for="isOption")
							input#isOption(type="checkbox")
							| Is Option
					.col-lg-2.checkbox.checkbox-top-margin
						label(for="hasOptions")
							input#hasOptions(type="checkbox", name="hasOptions")
							| Has Options
				#advancedSearch.collapse
					.form-group.row
						.col-lg-6
							label(for="catalogId") US Catalog Id
							input.form-control#catalogId(type="number", name="catalogId")
						.col-lg-6
							label(for="catalogIdCan") Canadian Catalog Id
							input.form-control#catalogIdCan(type="number")
					.form-group.row
						.col-lg-3
							label(for="fieldSelect") Field
							select.form-control#fieldSelect
								option(value="stock") Stock
								option(value="usStock") US Stock
								option(value="canStock") Canadian Stock
								option(value="usPrice") US Price
								option(value="canPrice") Canadian Price
						.col-lg-2
							label(for="operator") Operator
							//.input-group
								//span.btn.input-group-addon#notOperator !
							select.form-control#operator
								option(value="$eq") =
								option(value="$gt") >
								option(value="$lt") <
						.col-lg-3
							label(for="valueInput") Value
							input.form-control#valueInput
						.col-lg-3
							.btn-toolbar.top-25
								button.btn.btn-primary(type="button")#andQuery AND
								button.btn.btn-primary(type="button")#orQuery OR
					#queries
			.btn-toolbar.bottom-10
				button.btn.btn-default#searchButton(type="button") Search
				button.btn.btn-info#advancedButton(type="button", data-toggle="collapse", data-target="#advancedSearch") Advanced

			table.table.table-striped.table-hover#databaseTable
				thead
					tr
						th SKU
						th Name
						th US Price
						th Canadian Price
						th Stock
				tbody#databaseTableBody

			#itemModal.modal.fade(role="dialog")
				.modal-dialog
					.modal-content
						.modal-header
							button.close(data-dismiss="modal") &times;
							h4#itemNameTitle Item Name
						.modal-body

							.panel.panel-default
								.panel-heading
									h4.panel-title
										a(data-toggle="collapse", data-target="#generalInfo") General
								#generalInfo.panel-collapse.collapse.in
									.panel-body
										.row.form-group
											.col-lg-6
												label(for="itemSKU") SKU
												input#itemSKU.form-control(type="text", readonly)
											.col-lg-6
												label(for="itemName") Name
												input#itemName.form-control(type="text")
										.row.form-group
											.col-lg-6
												label(for="usPrice") US Price
												.input-group
													span.input-group-addon
														i.fa.fa-dollar
													input#usPrice.form-control(type="number", step="any")
											.col-lg-6
												label(for="canPrice") Canadian Price
												.input-group
													span.input-group-addon
														i.fa.fa-dollar
													input#canPrice.form-control(type="number", step="any")
										.row.form-group
											.col-lg-4
												label(for="stock") Stock
												input#stock.form-control(type="number")
											.col-lg-4
												label(for="usStock") US Stock
												input#usStock.form-control(type="number")
											.col-lg-4
												label(for="canStock") Canadian Stock
												input#canStock.form-control(type="number")
								
								.panel-heading
									h4.panel-title
										a(data-toggle="collapse", data-target="#itemImagePanel") Image
								#itemImagePanel.collapse.panel-collapse
									.panel-body
										.form-group.row
											.col-lg-12
												img#itemImage.img-rounded.img-responsive(src="http://via.placeholder.com/350x150")
								
								.panel-heading
									h4.panel-title
										a(data-toggle="collapse", data-target="#sales") Sale
								#sales.collapse.panel-collapse
									.panel-body
										.row.form-group
											.col-lg-3.checkbox
												label(for="onSale")
													input#onSale(type="checkbox")
													| On Sale
											.col-lg-3
												label(for="salePercentage") Sale Percentage
												.input-group
													input#salePercentage.form-control(type="number")
													span.input-group-addon
														i.fa.fa-percent
											.col-lg-3
												label(for="usSalePrice") US Sale Price
												.input-group
													span.input-group-addon
														i.fa.fa-dollar
													input#usSalePrice.form-control(type="number")
											.col-lg-3
												label(for="canSalePrice") CAN Sale Price
												.input-group
													span.input-group-addon
														i.fa.fa-dollar
													input#canSalePrice.form-control(type="number")
								
								.panel-heading
									h4.panel-title
										a(data-toggle="collapse", data-target="#warehouse") Warehouse
								#warehouse.collapse.panel-collapse.panel-body
									.row.form-group
										.col-lg-4
											label(for="location") Location
											input#location.form-control(type="text")
										.col-lg-4
											label(for="barcode") Barcode
											input#barcode.form-control(type="text")
										.col-lg-4
											label(for="country") Country of Origin
											input#country.form-control(type="text")
							
								.panel-heading
									h4.panel-title
										a(data-toggle="collapse", data-target="#advanced") Advanced
								#advanced.collapse.panel-collapse.panel-body
									.row.form-group.checkbox
										.col-lg-3
											label(for="itemHidden")
												input#itemHidden(type="checkbox")
												| Hidden
										.col-lg-3
											label(for="itemInactive")
												input#itemInactive(type="checkbox")
												| Inactive
										.col-lg-3
											label(for="itemIsOption")
												input#itemIsOption(type="checkbox")
												| Is Option
										.col-lg-3
											label(for="itemHasOptions")
												input#itemHasOptions(type="checkbox")
												| Has Options
									.row.form-group
										.col-lg-6
											label(for="catalogIdUS") US Catalog ID
											input#catalogIdUS.form-control(type="text", readonly)
										.col-lg-6
											label(for="catalogIdCanModal") Canadian Catalog ID
											input#catalogIdCanModal.form-control(type="text", readonly)
									.row.form-group
										.col-lg-6
											label(for="optionId") US Option ID
											input#optionId.form-control(type="text", readonly)
										.col-lg-6
											label(for="optionIdCan") Canadian Option ID
											input#optionIdCan.form-control(type="text", readonly) 		
						.modal-footer
							a#viewOnUSWebsite.btn.btn-default(href="https://www.ecstasycrafts.com", target="_blank") View on US Website
							a#viewOnCanWebsite.btn.btn-default(href="https://www.ecstasycrafts.ca", target="_blank") View on Canadian Website
							button#saveItemButton.btn.btn-success(type="button") Save
							button#hideUnhide.btn.btn-info(type="button") Hide
							button.btn.btn-default(type="button", data-dismiss="modal") Cancel

	include includes/end
		script(src="/js/database.js")