doctype html
include mixins
html
	include includes/head
		title Database
	body
		#wrapper
			+sidebarNav("database")

			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Database
						p.lead Perform quick operations on the products in our database. Anything changed here gets reflected in 3D Cart and Quickbooks.
				.container-fluid.px-5
					.row
						.col-8
							h4 Query
						.col-4
							h4 Bulk Actions
					.row
						.col-8
							form#databaseForm.form-inline
								label.sr-only(for="sku") SKU
								input.form-control.enterKeySearch#sku(type="text", name="sku", list="items" placeholder="SKU").mr-2
								datalist#items
								label(for="manufacturer").sr-only Manufacturer
								input.form-control.enterKeySearch#manufacturer(type="text", name="manufacturer" placeholder="Manufacturer").mr-2
								label(for="warehouseLocation").sr-only Location
								input.form-control.enterKeySearch#warehouseLocation(type="text", placeholder="Location").mr-2
								label(for="barcodeSearch").sr-only Barcode
								input.form-control.enterKeySearch#barcodeSearch(type="text", placeholder="Barcode").mr-2
								button.btn.btn-outline-primary#searchButton(type="button") Search
								//#advancedSearch.collapse
									.form-group.row
										.col-lg-6
											label(for="catalogId") US Catalog Id
											input.form-control#catalogId(type="number", name="catalogId")
										.col-lg-6
											label(for="catalogIdCan") Canadian Catalog Id
											input.form-control#catalogIdCan(type="number")
									.form-group.row
										.col-lg-3
											label(for="fieldSelect") Field
											select.form-control#fieldSelect
												option(value="stock") Stock
												option(value="usStock") US Stock
												option(value="canStock") Canadian Stock
												option(value="usPrice") US Price
												option(value="canPrice") Canadian Price
										.col-lg-2
											label(for="operator") Operator
											//.input-group
											//span.btn.input-group-addon#notOperator !
											select.form-control#operator
												option(value="$eq") =
												option(value="$gt") &gt;
												option(value="$lt") &lt;
										.col-lg-3
											label(for="valueInput") Value
											input.form-control#valueInput
										.col-lg-3
											.btn-toolbar.top-25
												button.btn.btn-primary(type="button")#andQuery AND
												button.btn.btn-primary(type="button")#orQuery OR
									#queries
						.col-4
							.row
								.col-12
									.btn-toolbar.pb-2
										button.btn.btn-primary#sendProductsToWalmart(type="button").mr-2 Send To Walmart
										button.btn.btn-primary#sendProductsToAmazon(type="button").mr-2 Send To Amazon
										button.btn.btn-success#unhideProductsButton(type="button").mr-2 Unhide
										button.btn.btn-danger#hideProductsButton(type="button").mr-2 Hide
							.row
								.col-12
									button.btn.btn-outline-primary#createLabelsButton(type="button") Create Labels
									button.btn.btn-outline-danger#zeroQuantitiesButton(type="button").ml-2 Zero Quantities
					.row
						.col-8
							h4 Tools
					.row.mb-3
						.col-8
							button.btn.btn-primary(data-toggle="modal" data-target="#putAwayModal") Put Away Mode
							a.btn.btn-outline-success(href="/labels", target="_blank").ml-2 Download Labels

					table.table.table-striped.table-hover.mt-3#databaseTable
						thead
							tr
								th.text-center.no-sort
									input#selectAll(type="checkbox").lg-box
								th SKU
								th Name
								th US Price
								th Location
								th Stock
								th Hidden
						tbody#databaseTableBody
		+footer

	#putAwayModal.modal.fade(role="dialog")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					h4 Put Away Mode
					button.close(data-dismiss="modal") &times;
				.modal-body
					.card
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#viaItem") Via Item
						#viaItem.collapse.show
							.card-body
								.row.form-group.mb-0
									.col-4
										label(for="putAwaySKU") SKU or Barcode
										input#putAwaySKU.form-control(type="text")
										p.mb-0.mt-1#putAwayInfo
									.col-4
										label(for="putAwayPrimary") Primary Location
										input#putAwayPrimary.form-control(type="text")
									.col-4
										label(for="putAwaySecondary") Secondary Location
										input#putAwaySecondary.form-control(type="text")
					.card.mt-3
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#viaLocation") Via Location
						#viaLocation.collapse.show
							.card-body
								.row.form-group
									.col-6
										.row
											.col-12
												label(for="putAwayLocation") Location
												input#putAwayLocation.form-control(type="text")
										.row.mt-3
											.col-12
												.form-check
													input.form-check-input#primarySelect(type="radio" name="locationType" value="primary" checked)
													label.form-check-label(for="primarySelect") Primary
												.form-check
													input.form-check-input#secondarySelect(type="radio" name="locationType" value="secondary")
													label.form-check-label(for="secondarySelect") Secondary
									.col-6
										label(for="putAwayItems") Item Numbers or Barcodes
										textarea#putAwayItems.form-control(type="text" rows="4")
				.modal-footer
					button.btn.btn-success#savePutAwayModal(type="button") Save Locations
					button.btn.btn-secondary(type="button", data-dismiss="modal") Close


	#itemModal.modal.fade(role="dialog")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					h4#itemNameTitle Item Name
					button.close(data-dismiss="modal") &times;
				.modal-body
					.card
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#generalInfo") General
						#generalInfo.collapse.show
							.card-body
								.row.form-group
									.col-sm-6
										label(for="itemSKU") SKU
										input#itemSKU.form-control(type="text", readonly)
									.col-sm-6
										label(for="itemName") Name
										input#itemName.form-control.enterKeySaveItem(type="text")
								.row.form-group
									.col-sm-6
										label(for="usPrice") US Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.far.fa-dollar-sign
											input#usPrice.form-control(type="number", step="any")
									.col-sm-6
										label(for="canPrice") Canadian Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.fa.fa-dollar-sign
											input#canPrice.form-control(type="number", step="any")
								.row.form-group
									.col-sm-4
										label(for="stock") Stock
										input#stock.form-control(type="number")
									.col-sm-4
										label(for="usStock") US Stock
										input#usStock.form-control(type="number")
									.col-sm-4
										label(for="canStock") Canadian Stock
										input#canStock.form-control(type="number")
						
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#itemImagePanel") Image
						#itemImagePanel.collapse
							.card-body
								.form-group.row
									.col-lg-12
										img#itemImage.img-rounded.img-responsive(src="http://via.placeholder.com/350x150")
						
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#sales") Sale
						#sales.collapse
							.card-body
								.row.form-group
									.col-lg-3.checkbox
										label(for="onSale")
											input#onSale(type="checkbox")
											| On Sale
									.col-lg-3
										label(for="salePercentage") Sale Percentage
										.input-group
											input#salePercentage.form-control(type="number")
											.input-group-append
												.input-group-text
													i.far.fa-percent
									.col-lg-3
										label(for="usSalePrice") US Sale Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.far.fa-dollar-sign
											input#usSalePrice.form-control(type="number")
									.col-lg-3
										label(for="canSalePrice") CAN Sale Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.far.fa-dollar-sign
											input#canSalePrice.form-control(type="number")
						
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#warehouse") Warehouse
						#warehouse.collapse
							.card-body
								.row.form-group
									.col-lg-4
										label(for="location") Location
										input#location.form-control(type="text").enterKeySaveItem
									.col-lg-4
										label(for="barcode") Barcode
										input#barcode.form-control(type="text")
									.col-lg-4
										label(for="country") Country of Origin
										input#country.form-control(type="text")
								.row.form-group
									.col-4
										label Second Location
										input#secondLocation.form-control(type="text").enterKeySaveItem
						
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#advanced") Advanced
						#advanced.collapse
							.card-body
								.row.form-group.checkbox
									.col-lg-3
										label(for="itemHidden")
											input#itemHidden(type="checkbox")
											| Hidden
									.col-lg-3
										label(for="itemInactive")
											input#itemInactive(type="checkbox")
											| Inactive
									.col-lg-3
										label(for="itemIsOption")
											input#itemIsOption(type="checkbox")
											| Is Option
									.col-lg-3
										label(for="itemHasOptions")
											input#itemHasOptions(type="checkbox")
											| Has Options
								.row.form-group
									.col-lg-6
										label(for="catalogIdUS") US Catalog ID
										input#catalogIdUS.form-control(type="text", readonly)
									.col-lg-6
										label(for="catalogIdCanModal") Canadian Catalog ID
										input#catalogIdCanModal.form-control(type="text", readonly)
								.row.form-group
									.col-lg-6
										label(for="optionId") US Option ID
										input#optionId.form-control(type="text", readonly)
									.col-lg-6
										label(for="optionIdCan") Canadian Option ID
										input#optionIdCan.form-control(type="text", readonly) 		
				.modal-footer
					a#viewOnUSWebsite.btn.btn-secondary(href="https://www.ecstasycrafts.com", target="_blank") View on US Website
					a#viewOnCanWebsite.btn.btn-secondary(href="https://www.ecstasycrafts.ca", target="_blank") View on Canadian Website
					button#saveItemButton.btn.btn-success(type="button") Save
					button#hideUnhide.btn.btn-info(type="button") Hide
					button.btn.btn-primary(type="button", data-dismiss="modal") Cancel

	include includes/end
		script(src="/js/database.js")