doctype html
include mixins
html
	include includes/head
		title Deliveries
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js")
		script(src="/js/deliveries.js")
	body
		#wrapper
			+sidebarNav("deliveries")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Deliveries
						p.lead Select the delivery to view it in more detail.
						button.btn.btn-outline-success#newDeliveryButton New Delivery
				
				.container-fluid
					ul.nav.nav-tabs#viewTabs(role="tablist")
						li.nav-item
							a.nav-link.active#statusTab(data-toggle="tab" href="#statusView" aria-control="#statusView" role="tab" aria-selected="true") Status View
						li.nav-item
							a.nav-link#tableTab(data-toggle="tab" href="#tableView") Table View
					.tab-content
						.tab-pane.fade.show.active#statusView(role="tabpanel" aria-labelledby="statusTab")
							.row.mt-3
								.col-3
									.card.bg-light
										.card-header 
											h5.mb-0 Processing
										.card-body.text-center
											i.fal.fa-sync-alt.fa-fw.fa-3x
											p.card-text.pt-2 The shipment is in progress and has not yet left the manufacturer.
										table.table.table-sm.table-hover.mx-1(style="width: auto")
											thead
												tr
													th Name
													th Manufacturer
													th Date
											tbody#processingTable
										.card-footer#processingFooter 12 shipments.
								.col-3
									.card.bg-info.text-white
										.card-header 
											h5.mb-0 In Transit
										.card-body.text-center
											i.fal.fa-truck-container.fa-fw.fa-3x
											p.card-text.pt-2 The shipment has left the manufacturer and is in transit to our warehouse.
										table.table.table-sm.table-hover.mx-1(style="width: auto")
											thead
												tr
													th Name
													th Manufacturer
													th Date
											tbody#transitTable
										.card-footer#transitFooter 12 shipments.
								.col-3
									.card.bg-warning.text-white
										.card-header 
											h5.mb-0 In House
										.card-body.text-center
											i.fal.fa-warehouse.fa-fw.fa-3x
											p.card-text.pt-2 The shipment has arrived and is awaiting put-away.
										table.table.table-sm.table-hover.mx-1(style="width: auto")
											thead
												tr
													th Name
													th Manufacturer
													th Date
											tbody#inHouseTable
										.card-footer#inHouseFooter 12 shipments.
								.col-3
									.card.bg-success.text-white
										.card-header 
											h5.mb-0 Done
										.card-body.text-center
											i.fal.fa-check.fa-fw.fa-3x
											p.card-text.pt-2 The shipment has been completed and is fully put-away.
											small Only showing the 5 most recent shipments.
										table.table.table-sm.table-hover.mx-1(style="width: auto")
											thead
												tr
													th Name
													th Manufacturer
													th Date
											tbody#doneTable
										.card-body.text-center
											button.btn.btn-outline-dark View All
										.card-footer#doneFooter 42 shipments.
						.tab-pane.fade#tableView
							.row
								.col-12
									table.table-hover.table
										thead
											tr
												th Name
												th Manufacturer
												th Expected Delivery Date
												th Status
										tbody#allDeliveryTable
											tr
												td 12445
												td Joy! Crafts
												td PO-12345
												td May 24, 2017
												td Waiting
		+footer

	#deliveryModal.modal.fade(role="dialog")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					h5#deliveryTitle.mb-0 New Delivery
					button.close(data-dismiss="modal") &times;
				.modal-body
					.form-group.row
						.col-6
							label(for="deliveryName") Name
							input(type="text" placeholder="describe the shipment").form-control#deliveryName
						.col-6
							label(for="manufacturerSelect") Manufacturer
							select.form-control#manufacturerSelect
								option(value="joy") Joy
								option(value="14") Nellie
								option(value="0") Aladine
					.form-group.row
						.col-6
							label(for="expectedDeliveryDate") Delivery Date
							input#deliveryDate.form-control(type="date")
						.col-6
							label(for="deliveryStatus") Status
							select#deliveryStatus.form-control
								option(value="processing") Processing
								option(value="in-transit") In Transit
								option(value="in-house") In House
								option(value="done") Done
					.form-group.row
						.col-12
							label Purchase Orders
							table.table-sm.table
								thead
									th ID
									th Items
									th
								tbody
									td PO-12345
									td 34
									td
										button.btn.btn-outline-primary.btn-sm(type="button") View  
											i.far.fa-external-link.fa-fw

				.modal-footer
					button#addPOButton.btn.btn-outline-primary(type="button") Add PO
					button#commentButton.btn.btn-outline-warning(type="button" disabled tooltip="Coming Soon!") Add Comment
					button#saveDeliveryButton.btn.btn-success(type="button") Save
					button#removeDeliveryButton.btn.btn-danger(type="button") Delete
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel