doctype html
include mixins
html
	include includes/head
		script(src="/js/papaparse.min.js")
		script(src="/js/inventory-adjustments.js")
		title Inventory Adjustments
	body
		#wrapper
			+sidebarNav("inventory")
			#page-content
				nav.navbar.navbar-light.bg-light.navbar-expand-sm.sticky-top
					button.btn.btn-secondary.btn-toggles(type="button").m-0.position-relative#left-menu-toggle
						i.far.fa-bars.fa-fw
					span.navbar-brand.mb-0.h1.pl-2#orderNavTitle Inventory Adjustments
					span.navbar-text#info.ml-2
					ul.navbar-nav.ml-auto
						li.dropdown.nav-item
							a.nav-link.dropdown-toggle(href="#" aria-haspopup="true" data-toggle="dropdown") Actions
							ul.dropdown-menu.dropdown-menu-right
								a(href="/inventory").dropdown-item New Adjustment
								a(href="#").dropdown-item#clearItemsButton Clear Items
								.dropdown-divider
								a#deleteOrder(href="#").dropdown-item.bg-danger.text-white Delete
						li.dropdown.nav-item
							a.nav-link.dropdown-toggle(href="#" aria-haspopup="true" data-toggle="dropdown") Import
							ul.dropdown-menu.dropdown-menu-right
								a(href="#").dropdown-item#browseButton Browse for file
								input(type="file" style="display:none;")#fileInput
						.btn-group
							button.btn.btn-success(type="button")#saveInventoryButton Save to Quickbooks

				.container.pt-3
					.row
						.col-12
							.card
								.card-header
									h5.mb-0 Inventory Sheet
								.card-body
									.form-group.row
										.col-sm-4
											label(for="itemSKU") SKU or Barcode
											input#itemSKU.form-control(type="text", list="itemList")
											datalist#itemList
										.col-sm-4
											label(for="itemQuantity") Current Stock
											input#itemQuantity.form-control(type="number", value="1")
										.col-4
											label(for="itemDifference") Add To Stock
											input#itemDifference.form-control(type="number", value="0")
									table.table.table-striped.table-hover#inventoryTable
										thead
											tr
												th SKU
												th New Stock
												th Difference
										tbody#inventoryTableBody
					.row.pt-2
						.col-12
							.card
								.card-header
									h5.mb-0 Options
								.card-body
									.row
										.col-sm-12
											label Comments
											textarea.form-control(rows="5")#notesArea
					.row.pt-2
						.col-12
							.card
								.card-header
									h5.mb-0 Messages
								.card-body
									.row
										.col-sm-12
											ul#messages
		+footer

	#itemModal.modal.fade(role="dialog")
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					h4#itemNameTitle Item Name
					button.close(data-dismiss="modal") &times;
				.modal-body
					.card
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#generalInfo", href="#") General
						#generalInfo.collapse.show
							.card-body
								.row.form-group
									.col-sm-6
										label(for="itemSKUModal") SKU
										input#itemSKUModal.form-control(type="text", readonly)
									.col-sm-6
										label(for="itemNameModal") Name
										input#itemNameModal.form-control(type="text")
								.row.form-group
									.col-sm-6
										label(for="itemQuantityModal") Quantity
										input#itemQuantityModal.form-control(type="number")
									.col-sm-6
										label(for="itemPriceModal") Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.far.fa-dollar-sign
											input#itemPriceModal.form-control(type="number", step="any")
								.row.form-group
									.col-sm-4
										label(for="stock") Stock
										input#stock.form-control(type="number")
									.col-sm-4
										label(for="usStock") US Stock
										input#usStock.form-control(type="number")
									.col-sm-4
										label(for="canStock") Canadian Stock
										input#canStock.form-control(type="number")

						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#itemImagePanel", href="#") Image
						#itemImagePanel.collapse
							.card-body
								.form-group.row
									.col-sm-12
										img#itemImage.img-rounded.img-responsive(src="http://via.placeholder.com/350x150")

						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#sales", href="#") Sale
						#sales.collapse
							.card-body
								.row.form-group
									.col-sm-4.checkbox
										label(for="onSale")
											input#onSale(type="checkbox")
											|  On Sale
									.col-sm-4
										label(for="usSalePrice") US Sale Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.far.fa-dollar-sign
											input#usSalePrice.form-control(type="number")
									.col-sm-4
										label(for="canSalePrice") CAN Sale Price
										.input-group
											.input-group-prepend
												.input-group-text
													i.far.fa-dollar-sign
											input#canSalePrice.form-control(type="number")
						
						.card-header
							.card-title.mb-0
								a(data-toggle="collapse", data-target="#warehouse", href="#") Warehouse
						#warehouse.collapse
							.card-body
								.row.form-group
									.col-sm-4
										label(for="location") Location
										input#location.form-control(type="text")
									.col-sm-4
										label(for="barcode") Barcode
										input#barcode.form-control(type="text")
									.col-sm-4
										label(for="country") Country of Origin
										input#country.form-control(type="text")
					
				.modal-footer
					a#viewOnUSWebsite.btn.btn-default(href="https://www.ecstasycrafts.com", target="_blank") US Website
					a#viewOnCanWebsite.btn.btn-default(href="https://www.ecstasycrafts.ca", target="_blank") Canadian Website
					button#saveItemButton.btn.btn-success(type="button") Save
					button#removeFromOrderButton.btn.btn-danger(type="button") Remove
					button.btn.btn-default(type="button", data-dismiss="modal") Cancel