doctype html
include mixins
html
	include includes/head
		title Invoicing
	body
		#wrapper
			+sidebarNav("invoice-home")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Invoicing
						p.lead Enter an order number to invoice it quickly.
					.row
						.col-12
							.form-row
								.col-6
									label Prefix
									select.form-control#prefix
										option AB-
										option CA-
										option AZ-
								.col-6
									label Number
									input.form-control(type="text")#orderNumber
					.row.mt-2
						.col-12.text-center
							button.btn.btn-outline-success(type="button")#goButton Go!
				script.
					$(document).ready(e => {
						$('#goButton').click(e => {
							e.preventDefault();
							var prefix = $('#prefix').val();
							var number = $('#orderNumber').val();
							window.location = '/invoice?orderId='+prefix+number;
						});
					});
		+footer