doctype html
include mixins
html
	include includes/head
		title Manifests
	body
		+navbar("list-manifests")
		.container
			.starter-template
				h1 Saved Manifests
				p.lead Select a manifest to see it in more detail and to continue working on it.
		section
			.container
				.row
					.col-lg-12
						table.table-hover.table
							thead
								tr
									th Last Modified
									th Ship Date
									th Number of Parcels
							tbody#manifestTable

	include includes/end
		script(src="js/list-manifests.js")
		script.
			buildTableBody(!{JSON.stringify(manifests)});