mixin tableRow(order)
	tr
		td
			a(href="/new-order?id="+order._id) 
				if order.orderId
					=order.orderId
				else
					= "Not Saved to 3D Cart"
		td=order.customer.firstname + ' ' + order.customer.lastname
		td=order.items.length

doctype html
include mixins
html
	include includes/head
		title List Orders
	body
		#wrapper
			+sidebarNav("list-orders")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 All Custom Orders
						p.lead Select and order to see it in more detail.
						a.btn.btn-outline-success(href="/new-order") New Order
				.container
					.row
						.col-12
							table.table-hover.table
								thead
									tr
										th Order Number
										th Customer Name
										th Items
								tbody
									each order in orders
										+tableRow(order)
		+footer