doctype html
include mixins
html
	include includes/head
	script(src="js/list-manifests.js")
	title Manifests
	
	body
		#wrapper
			+sidebarNav("list-manifests")

			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Saved Manifests
						p.lead Select a manifest to see it in more detail and to continue working on it. Click the button below to start a new manifest.
						a.btn.btn-outline-success(href="/customs") New Manifest
				.container
					.row
						.col-12
							table.table-hover.table
								thead
									tr
										th Last Modified
										th Ship Date
										th Number of Parcels
								tbody#manifestTable
		+footer
		script.
			buildTableBody(!{JSON.stringify(manifests)});