mixin navbar(active)
	nav(class="navbar navbar-inverse navbar-fixed-top", style="z-index=2;")
			div(class="container")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") EC-Express
				div(id="navbar", class="collapse navbar-collapse")
					ul(class="nav navbar-nav")
						if active == "home"
							li.active
								a(href="/") Home
						else
							li
								a(href="/") Home
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="fasle") Customs #[span.caret]
							ul.dropdown-menu
								if active == "customs"
									li.active
										a(href="/customs") New Manifest
								else
									li
										a(href="/customs") New Manifest
								if active == "list-manifest"
									li.active
										a(href="/list-manifests") List Manifests
								else
									li
										a(href="/list-manifests") List Manifests
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") 3D Cart Tools #[span.caret]
							ul.dropdown-menu
								if active == "3dcart"
									li.active
										a(href="/3dcart") Item Manager
								else
									li
										a(href="/3dcart") Item Manager
								if active == "inventory"
									li.active
										a(href="/inventory") Inventory
								else
									li
										a(href="/inventory") Inventory
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") Products #[span.caret]
							ul.dropdown-menu
								if active == "database"
									li.active
										a(href="/database") Database
								else
									li
										a(href="/database") Database
								if active == "amazon"
									li.active
										a(href="/amazon") Feeds
								else
									li
										a(href="/amazon") Feeds
								if active == "upload"
									li.active
										a(href="/product-upload") Upload
								else
									li
										a(href="/product-upload") Upload
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") Orders #[span.caret]
							ul.dropdown-menu
								if active == "orders"
									li.active
										a(href="/orders") Sync
								else
									li
										a(href="/orders") Sync
								if active == "new-order"
									li.active
										a(href="/new-order") New Order
								else
									li
										a(href="/new-order") New Order
								if active == "order-import"
									li.active
										a(href="/order-import") Import
								else
									li
										a(href="/order-import") Import
								if active == "show-order"
									li.active
										a(href="/show-order") Show Order
								else
									li
										a(href="/show-order") Show Order
								if active == "list-orders"
									li.active
										a(href="/list-orders") List Orders
								else
									li
										a(href="/list-orders") List Orders
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") Picking #[span.caret]
							ul.dropdown-menu
								//if active == "picksheet"
									li.active
										a(href="/picksheet") Pick Sheet
								//else
									li
										a(href="/picksheet") Pick Sheet
								if active == "print-orders"
									li.active
										a(href="/print-orders") Print Orders
								else
									li
										a(href="/print-orders") Print Orders
						
					ul.nav.navbar-nav.navbar-right#nav-right

mixin sidebarNav(active)
	.sidebar#left-sidebar
		ul.sidebar-nav
			li.sidebar-brand
				a(href="/")
					i.fas.fa-home.fa-inverse
					|  Home
			li 
				a(data-toggle="collapse" href="#quick-links").dropdown-link Quick Links 
					i.fas.fa-caret-down.fa-fw.fa-inverse.fa-angle-right
				ul.collapse#quick-links.pl-0.sub-menu
					+externalLink("//ecstasycrafts.slack.com", "Slack", "fa-slack", "fab")
					+externalLink("//www.ecstasycrafts.com/admin", "US Admin Page", "fa-browser", "far")
					+externalLink("//www.ecstasycrafts.ca/admin", "CA Admin Page", "fa-browser", "far")
			li
				a(href="#orders-nav" data-toggle="collapse").dropdown-link Orders
					i.fas.fa-caret-down.fa-fw.fa-inverse.fa-angle-right
				ul.collapse#orders-nav.pl-0.sub-menu
					+internalLink("/order-dashboard", "Dashboard")
					+internalLink("/orders", "Sync")
					+internalLink("/list-orders", "Custom Orders")
					+internalLink("/print-orders", "Print Orders")
					+internalLink("/list-manifests", "Manifests")
			li
				a(href="#products-nav" data-toggle="collapse").dropdown-link Products
					i.fas.fa-caret-down.fa-fw.fa-inverse.fa-angle-right
				ul.collapse#products-nav.pl-0.sub-menu
					+internalLink("/database", "Database")
					+internalLink("/amazon", "Feeds")
					+internalLink("/product-upload", "Upload")
			li
				a(href="#deliveries-nav" data-toggle="collapse").dropdown-link Deliveries
					i.fas.fa-caret-down.fa-fw.fa-inverse.fa-angle-right
				ul.collapse#deliveries-nav.pl-0.sub-menu
					+internalLink("/deliveries", "Dashboard")
					+internalLink("/purchase-orders", "Purchase Orders")
			li
				a(href="#") Reports 
					span.badge.badge-info(style="text-indent: 0px;") Coming Soon!

mixin externalLink(url, text, icon, iconType)
	li
		a(href=url target="_blank").pl-2
			i.fa-fw.fa-inverse(class=icon + " " + iconType)
			= " " + text + " "
			i.far.fa-external-link.fa-fw.fa-inverse

mixin internalLink(link, text)
	li
		a(href=link).pl-2=text

mixin footer
	footer.py-3.bg-dark.fixed-bottom.hide-printer
		.container
			p.m-0.text-center.text-white Copyright &copy; Ecstasy Crafts 2018

mixin menuToggle
	.container-fluid.hide-printer
		button.btn.btn-secondary.btn-toggles(type="button")#left-menu-toggle
			i.far.fa-bars.fa-fw