mixin navbar(active)
	nav(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") EC-Express
				div(id="navbar", class="collapse navbar-collapse")
					ul(class="nav navbar-nav")
						if active == "home"
							li.active
								a(href="/") Home
						else
							li
								a(href="/") Home
						if active == "customs"
							li.active
								a(href="/customs") Customs
						else
							li
								a(href="/customs") Customs
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") 3D Cart Tools #[span.caret]
							ul.dropdown-menu
								if active == "3dcart"
									li.active
										a(href="/3dcart") Item Manager
								else
									li
										a(href="/3dcart") Item Manager
								if active == "inventory"
									li.active
										a(href="/inventory") Inventory
								else
									li
										a(href="/inventory") Inventory
						if active == "database"
							li
								a(href="/database") Database
						else
							li
								a(href="/database") Database
						li
							a(href="/product-upload.html") Product Upload
						if active == "orders"
							li.active
								a(href="/orders") Order Sync
						else
							li
								a(href="/orders") Order Sync
					ul.nav.navbar-nav.navbar-right#nav-right