doctype html
include mixins
html
	include includes/head
		title Order Sync
	body
		+navbar("orders")
		.container
			.starter-template
				h1 Orders
				p.lead Use these controls to synchronize orders and inventory from 3D cart to Quickbooks.
		.container.panel.with-nav-tabs
			.panel-heading
				ul.nav.nav-tabs
					li.active
						a(data-toggle="tab", href="#quickSync") Sync Orders and Inventory
					li
						a(data-toggle="tab", href="#step3")#report Report
			.tab-content.panel-body
				#quickSync.tab-pane.fade.in.active
					.row
						.col-lg-12
							.btn-toolbar
								button.btn.btn-success(type="button")#syncInventoryAndOrders Sync Inventory and Orders
								button.btn.btn-success(type="button")#saveInventory Save Inventory
							h2 Status
					.row
						.col-lg-11
							label Get Orders
							.progress
								#getOrdersProgress.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
							p#orderInfo
						.col-lg-1
							i#quickGetOrders.fa.fa-square-o.fa-2x
					.row
						.col-lg-11
							label Refresh Inventory
							.progress
								.refreshInventoryProgress.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
						.col-lg-1
							i#quickGetItems.fa.fa-square-o.fa-2x
					.row
						.col-lg-11
							label Run the Web Connector
							.progress
								.connectorBar.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
						.col-lg-1
							i#quickRunConnector.fa.fa-square-o.fa-2x
					.row
						.col-lg-11
							label Saving Items
							.progress
								.saveInventoryProgress.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
						.col-lg-1
							i#quickSaveItems.fa.fa-square-o.fa-2x
					.row
						.col-lg-11
							label Saving Options
							.progress
								.saveOptionsProgress.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
						.col-lg-1
							i#quickSaveOptions.fa.fa-square-o.fa-2x
					.row
						.col-lg-11
							label Recalculating Base Items with Options
							.progress
								.baseStockProgress.progress-bar.progress-bar-striped.progress-bar-info.active(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
						.col-lg-1
							i#quickRecalculate.fa.fa-square-o.fa-2x

				#step3.tab-pane.fade
					button(type="button").btn.btn-default#last-import Get Last Report
					#successes
					#errors

				include includes/end
					script(src="/js/orders.js")
					script(src="/js/inventory.js")