doctype html
include mixins
html
	include includes/head
		title New Order
	body
		+navbar("order-import")
		.container
			.starter-template
				h1 Order Import
				p.lead Select your order using the buttons below.
		.container
			.row
				.col-lg-12
					h3 Load Order