doctype html
include mixins
html
	include includes/head
		title Order Sync
	body
		+navbar("orders")
		.container
			.starter-template
				h1 Orders
				p.lead Use these controls to synchronize orders from 3D cart to Quickbooks and Hubspot.
		.container.panel.with-nav-tabs
			.panel-heading
				ul.nav.nav-tabs
					li.active
						a(data-toggle="tab", href="#step1") Get Orders
					li
						a(data-toggle="tab", href="#step2")#run-connector Run Connector
					li
						a(data-toggle="tab", href="#step3")#report Report
			.tab-content.panel-body
				#step1.tab-pane.fade.in.active
					form
						.form-group.row
							.col-lg-12
								label(for="orderStatus") Status
								select.form-control#orderStatus
									option(value="1") New
									option(value="0") All
									option(value="2") Processing
						.form-group.row
							.col-lg-6.col-md-6.col-sm-6.col-xs-6
								label(for="startDate") Start Date
								input#startDate.form-control(type="date")
							.col-lg-6.col-md-6.col-sm-6.col-xs-6
								label(for="endDate") Start Date
								input#endDate.form-control(type="date")
						.form-group.row
							.col-lg-12
								label(for="limit") Limit
								input.form-control#limit(type="number")
						.form-group.row
							.col-lg-12
								label(for="discout") Discount
								input.form-control#discount(type="text", value="DISC")
								p.help-block The item code you want to use in Quickbooks for discounts.
					.row.text-center
						button#getOrdersButton.btn.btn-primary(type="button") Get Orders

				#step2.tab-pane.fade
					#notifications.alert.alert-dismissable.hidden(role="alert")
						button.close(type="button", data-dismiss="alert", aria-label="Close") #[span(aria-hidden="true") &times;]
						#message
					#instructions

				#step3.tab-pane.fade
					button(type="button").btn.btn-default#last-import Get Last Report
					#successes
					#errors

				include includes/end
					script(src="/js/orders.js")