doctype html
include mixins
html
	include includes/head
		title Import
	body
		+navbar("order-import")
		.container
			.starter-template
				h1 Order Import
				p.lead Select your order using the buttons below.
		.container
			.row
				.col-lg-12
					h3 Load Order
					label.btn.btn-default.btn-file Browse
						input(type="file" style="display: none;")#fileInput
					h4#fileName

	include includes/end
		script(src="/js/papaparse.min.js")
		script(src="/js/order-import.js")