doctype html
include mixins
html
	include includes/head
		script(src="/js/orders.js")
		script(src="/js/inventory.js")
		title Order Sync
	body
		#wrapper
			+sidebarNav("orders")

			#page-content
				+menuToggle
				.starter-template
					h1 Orders
					p.lead Use these controls to synchronize orders and inventory from 3D cart to Quickbooks.
				
				.container
					ul.nav.nav-tabs
						li.nav-item
							a.nav-link.active(data-toggle="tab", href="#quickSync") Sync Orders and Inventory
						li.nav-item
							a.nav-link(data-toggle="tab", href="#step3")#report Report
					.tab-content
						#quickSync.tab-pane.fade.show.active
							.row.pt-2
								.col-11
									label Get Orders
									.progress
										#getOrdersProgress.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
									p#orderInfo
								.col-lg-1
									i#quickGetOrders.fal.fa-square.fa-2x
							.row.pt-2
								.col-lg-11
									label Refresh Inventory
									.progress
										.refreshInventoryProgress.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
								.col-lg-1
									i#quickGetItems.fal.fa-square.fa-2x
							.row.pt-2
								.col-lg-11
									label Run the Web Connector
									.progress
										.connectorBar.progress-bar.progress-bar-striped.bg-info.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
								.col-lg-1
									i#quickRunConnector.fal.fa-square.fa-2x
							.row.pt-2
								.col-lg-11
									label Saving Items
									.progress
										.saveInventoryProgress.progress-bar.progress-bar-striped.bg-success.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
								.col-lg-1
									i#quickSaveItems.fal.fa-square.fa-2x
							.row.pt-2
								.col-11
									label Saving Options
									.progress
										.saveOptionsProgress.progress-bar.progress-bar-striped.progress-bar-success.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
								.col-1
									i#quickSaveOptions.fal.fa-square.fa-2x
							.row.pt-2
								.col-11
									label Recalculating Base Items with Options
									.progress
										.baseStockProgress.progress-bar.progress-bar-striped.progress-bar-success.progress-bar-animated(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0;")
								.col-1
									i#quickRecalculate.fal.fa-square.fa-2x
							.row.pt-3
								.col-12.text-center
									button.btn.btn-success.mr-2(type="button" tooltip="Sync inventory and orders")#syncInventoryAndOrders 
										i.far.fa-sync.fa-2x
						#step3.tab-pane.fade
							.row.pt-3
								.col-12.text-center
									button(type="button").btn.btn-default#last-import Get Last Report
							.row
								.col-12
									#successes
									#errors

		+footer
					