doctype html
include mixins
html
	include includes/head
		title Product Upload
		script(src="/js/papaparse.min.js")
		script(src="js/product-upload.js")
	body
		#wrapper
			+sidebarNav("upload")

			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Product Upload
						p.lead Add new items to 3D Cart and Quickbooks.

				.container
					.card
						.card-header Template
						.card-body
							p If you need a starting place download the upload template. Fill out all the fields you can.
							a(href='/upload-template').btn.btn-outline-success Download
					.card.mt-2
						.card-header Upload
						.card-body
							p Upload your completed template by using the button below. 
							input(type="file")#fileInput
					.card.mt-2(style="display: none;")#sendCard
						.card-header Send
						.card-body
							p#productInfo
							button.btn.btn-success.disabled#saveItemsButton Save Items

		+footer