doctype html
include mixins
html
	include includes/head
		title=order.orderId + ' Label'
		style.
			@page {
				size: 4in 6in;
			}
			body {
				font-size: 24pt;
			}

	body
		#wrapper
			+sidebarNav
			#page-content
				+menuToggle
				.container.label(style="max-width: 4in;")
					.row
						.col
							img.img-fluid(width="300px;" src="https://www.ecstasycrafts.com/assets/images/3dcart/logo.png")
					.row
						.col
							strong 630 Shannonville Rd.
							br
							strong Shannonville, ON
							br
							strong K0K 3A0, CA
							br
							strong www.ecstasycrafts.ca
					hr
					.row
						.col
							= order.cartOrder.ShipmentList[0].ShipmentFirstName + ' ' + order.cartOrder.ShipmentList[0].ShipmentLastName
							br
							if order.cartOrder.ShipmentList[0].ShipmentCompany
								= order.cartOrder.ShipmentList[0].ShipmentCompany
								br
							= order.cartOrder.ShipmentList[0].ShipmentAddress
							br
							if order.cartOrder.ShipmentList[0].ShipmentAddress2
								= order.cartOrder.ShipmentList[0].ShipmentAddress2
								br
							= order.cartOrder.ShipmentList[0].ShipmentCity + ', ' + order.cartOrder.ShipmentList[0].ShipmentState
							br
							= order.cartOrder.ShipmentList[0].ShipmentZipCode + ', ' + order.cartOrder.ShipmentList[0].ShipmentCountry
		script.
			$(document).ready(e => {
				window.print();
			});