doctype html
include mixins
html
	include includes/head
		script(src="/js/papaparse.min.js")
		script(src="/js/tools.js")
		title Misc. Tools
	body
		#wrapper
			+sidebarNav("tools")

			#page-content
				+menuToggle
				.starter-template
					h1 Tools
					p.lead Use the buttons below to perform misc tasks.

				.container
					.card
						.card-header Item Checker
						.card-body
							p Select a .csv file that contains all the SKUs you would like to check. The file should have one column with #[strong sku] as the header.
							input(type="file")#allSKUsFile
							p#productInfo
							p#existingItemsInfo
							p#nonExistingItemsInfo
							p#QBInfo
							.btn-toolbar
								button.btn.btn-info.disabled#unhideProductsButton Unhide all items
								button.btn.btn-warning.ml-2.disabled#getItemsFromQB Find Non-Existing Items in QB
