doctype html
include mixins
html
	include includes/head
		script(src="/js/papaparse.min.js")
		script(src="/js/tools.js")
		title Misc. Tools
	body
		#wrapper
			+sidebarNav("tools")

			#page-content
				+menuToggle
				.starter-template
					h1 Tools
					p.lead Use the buttons below to perform misc tasks.

				.container
					.row
						.col
							.card
								.card-header Item Checker
								.card-body
									p Select a .csv file that contains all the SKUs you would like to check. The file should have one column with #[strong sku] as the header.
									input(type="file")#allSKUsFile
									p#productInfo
									p#existingItemsInfo
									p#nonExistingItemsInfo
									p#QBInfo
									.btn-toolbar
										button.btn.btn-info.disabled#unhideProductsButton Unhide all items
										button.btn.btn-warning.ml-2.disabled#getItemsFromQB Find Non-Existing Items in QB
					.row.mt-2
						.col
							.card
								.card-header Price Updater
								.card-body
									p Take all the current US pricing on the website and overwrite it in Quickbooks. Be careful when you do this...
									button.btn.btn-danger(type="button")#replacePricingButton Replace Pricing
									p#pricingInfo

					.row.mt-2
						.col
							.card
								.card-header Order Import
								.card-body
									p Just import the orders and don't worry about running inventory. For testing only.
									button.btn.btn-danger(type="button")#importOrdersButton Import Orders

					.row.mt-2
						.col
							.card
								.card-header Close Sales Orders
								.card-body
									p Manually close a sales order
									input(type="text").form-control#salesOrderNumber
									button.btn.btn-danger(type="button")#closeSalesOrderButton Close 'em

					.row.mt-2
						.col
							.card
								.card-header Run Inventory
								.card-body
									p New inventory system
									button.btn.btn-success(type="button")#runInventoryButton Run Inventory

					.row.mt-2
						.col
							.card
								.card-header Save Inventory
								.card-body
									p New save system
									button.btn.btn-success(type="button")#saveInventoryButton Save Inventory