doctype html
include mixins
html
	include includes/head
		title Unpaid Order Report
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js")

	body
		#wrapper
			+sidebarNav("list-orders")
			
			#page-content
				+menuToggle
				.container
					.starter-template
						h1 Unpaid Order Report
						p.lead Enter the start and end dates (MM/DD/YYYY) and run the report.
					.form-row
						.col-6
							label Start Date
							input.form-control(type="text", placeholder="MM/DD/YYYY")#startDate
						.col-6
							label End Date
							input.form-control(type="text", placeholder="MM/DD/YYYY")#endDate
					.row.mt-2
						.col-12.text-center
							button.btn.btn-outline-success(type="button")#runReportButton Run!


				.container-fluid.mt-2
					.row
						.col-12
							.progress
								.progress-bar.progress-bar-striped.progress-bar-animated#reportProgress
					.row
						.col-12
							table.table-hover.table#orderTable
								thead
									tr
										th Invoice Number
										th Customer Name
										th Value
										th Date
										th Payment Type
								tbody#orderReportBody
								tfoot
									tr
										th#totalValue
									
		+footer

	script.
		var socket = io();
		var totalValue = 0;
		$(document).ready(e => {
			$('#runReportButton').click(e => {
				$('#reportProgress').css('width', '0%');
				$('#orderReportBody').empty();
				$('#totalValue').text('$0.00');
				totalValue = 0;
				socket.emit('getUnpaidOrderReport', $('#startDate').val(), $('#endDate').val());
			})
		});

		socket.on('receivedUnpaidOrders', (orders, progress) => {
			$('#reportProgress').css('width', progress + '%');

			orders.forEach(order => {
				var row = $('<tr></tr>');
				var invoiceNumber = $('<td></td>');
				invoiceNumber.append($('<a></a>').text(order.InvoiceNumberPrefix + order.InvoiceNumber).prop('href', 'https://www.ecstasycrafts.com/admin2/order_details.asp?orderid=' + order.OrderID).prop('target', '_blank'));
				var name = $('<td></td>').text(order.BillingFirstName + ' ' + order.BillingLastName);
				var value = $('<td></td>').text('$' + order.OrderAmount.toFixed(2));
				var date = $('<td></td>').text(moment(order.OrderDate).format('MMM Do, YYYY'));
				var method = $('<td></td>').text(order.TransactionList[0].TransactionMethod);

				row.append(invoiceNumber);
				row.append(name);
				row.append(value);
				row.append(date);
				row.append(method);

				totalValue += order.OrderAmount;
				$('#orderReportBody').append(row);
				$('#totalValue').text('$' + totalValue.toFixed(2));
			});
		});